/* $Id $ */

/* ---------- Color Module Styles ----------- */
a,
a:link,
a:visited {
  color: #29aae1;
}
a:hover,
a:active {
  color: #4169e1;
}
#page-wrapper {
  background-color: #ccc;
}
#page {
  background-color: #3d4047;
}
#main {
  background-color: #fefefe;
}
#sidebar-main {
  color: #fefefe;
}
#header #site-name a,
#header #site-name a:visited {
  color: #8ce1f5;
}
#header #site-slogan {
  color: #fff;
}
#sidebar-first a:hover {
  color: #8ce1f5;
}
#main-menu-links li a:hover,
#secondary-menu-links li a:hover {
  background-color: #2d3037;
  box-shadow: 0 0 2px #000 inset;
}