/* $Id: layout.css,v 1.8 2011/01/04 05:24:13 webchick Exp $ */

/* ---------- Basic Layout Styles ----------- */

html,
body,
#page  {
  height: 100%;
}
body {
	margin: 0;
	padding: 0;
}
body.two-sidebars {

}
body.one-sidebar {

}
#page-wrapper {
  
}
#page {
  margin-left: 0;
  margin-right: auto;
  max-width: 1270px;
  min-width: 960px;
}
#sidebar-main {
  float: left;
  width: 25%;
}
#header {
  padding: 2em 1em;
}
#main-menu {

}
#secondary-menu {

}
#featured {

}
#main-wrapper {
  padding-left: 25%;
}
#sidebar-second {
	float: right;
}
#main {
  padding: 2em;
}
/* Change #main size to coresponding with sidebar */
body.sidebar-first #main {

}
body.sidebar-second #main {

}
body.two-sidebars #main {

}
body.no-sidebar #main {

}
#squeeze {

}
body.sidebar-first #squeeze {

}
body.sidebar-second #squeeze {

}
body.two-sidebars #squeeze {

}
#footer-columns {

}
.region-footer-firstcolumn,
.region-footer-secondcolumn,
.region-footer-thirdcolumn,
.region-footer-fourthcolumn {

}
.region-footer-firstcolumn,
.region-footer-secondcolumn,
.region-footer-thirdcolumn,
.region-footer-fourthcolumn {

}
