/* $Id $ */

body.maintenance-page #main #content {
  background-color: #fefefe;
  border: 1px solid #cecece;
  border-radius: 1em;
  text-align: center;
  margin-top: 1.5em;
  padding: 2.5em;
}
