/* $Id $ */

/* ---------- Overall Specifications ---------- */

body {
    font-family: Helvetica,Verana,Tahoma,sans-serif;
    font-size: 14px;
    line-height: 170%;
}
a:link,
a:visited {
	text-decoration: none;
}
a:hover,
a:active {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1 {
  font-size: 160%;
  font-weight: bold;
}

h2 {
  font-size: 150%;
  line-height: 130%;
}

h3 {
  font-size: 140%;
}

h4 {
  font-size: 130%;
}

h5 {
  font-size: 120%;
}

h6 {
  font-size: 110%;
}
.node .content blockquote,
.comment .content blockquote {
  margin: 0 0 0 1.5em; /*LTR*/
  padding: 0 1em;
}

hr {
  border-color: #aaa;
  border-style: solid none none;
  border-width: 1px 0 0;
  height: 1px;
}

/* ------------------ Reset Styles ------------------ */



/* ------------------ Table Styles ------------------ */

table {
	width: 100%;
	margin: 0.5em 0;
}
td.edit,
td.delete {
	text-align: center;
}
tr.even,
tr.odd,
#blocks tr.region-populated {
	height: 3em;
}
#blocks tr.region-title td {
	padding-top: 2em;
}

/* ------------------ List Styles ------------------ */

ul li,
ul li.leaf {
	list-style-image: url(../images/menu-leaf.gif);
	list-style-type: circle;
}
ul li.expanded {
	list-style-image: url(../images/menu-expanded.gif);
	list-style-type: disc;
}
ul li.collapsed {
	list-style-image: url(../images/menu-collapsed.gif);
	list-style-type: square;
}
ul.links li {
	background: none;
}
.theme-selector .operations li {
	list-style-image: none;
}


/* ------------------ Header ------------------ */

#header {
  padding: 0 18px 0.5em 0;
  text-align: right;
}
#header #name-and-slogan {
}
#header #site-name {
  font-family: 'Berkshire Swash', Georgia;
  font-size: 2.7em;
  font-weight: bold;
}
#header #site-name a:hover {
  text-decoration: none;
}
#header #site-slogan {
  font-family: 'Berkshire Swash', Georgia;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 1em;
}


/* --------------- Menu ------------ */

#main-menu .menu-header,
#secondary-menu .menu-header,
#sidebar-first .block h2 {
  color: #fff;
  cursor: default;
  font-family: 'Berkshire Swash',Georgia;
  padding-right: 18px;
  text-align: right;
}
#main-menu-links,
#secondary-menu-links {
  margin: 0;
  padding: 0;
}

#main-menu-links li,
#secondary-menu-links li {
  background: none;
  list-style: none;
  margin: 0;
  text-align: right;
}
#main-menu-links li a,
#secondary-menu-links li a {
  display: block;
  height: 60px;
  position: relative;
  text-decoration: none;
}
#main-menu-links li a:hover,
#secondary-menu-links li a:hover {
  color: #29aae1;
}
#main-menu-links li .menu-name,
#secondary-menu-links li .menu-name {
  -moz-transition: top 0.5s ease 0s;
  -webkit-transition: top 0.5s ease 0s;
  -o-transition: top 0.5s ease 0s;
  font-family: Lucida Grande;
  font-size: 1.5em;
  position: absolute;
  right: 18px;
  top: 19px;
}
#main-menu-links li a:hover .menu-name,
#secondary-menu-links li a:hover .menu-name {
  top: 6px;
}
#main-menu-links li .menu-description,
#secondary-menu-links li .menu-description {
  -moz-transition: color 0.5s ease 0s;
  -webkit-transition: color 0.5s ease 0s;
  -o-transition: color 0.5s ease 0s;
  font-family: Lucida Grande;
  color: rgba(250, 250, 250, 0);
  position: absolute;
  right: 18px;
  top: 32px;
}
#main-menu-links li a:hover .menu-description,
#secondary-menu-links li a:hover .menu-description {
  color: rgba(250, 250, 250, 1);
}

/* ----------------- Sidebar ------------------ */

#sidebar-first {
  margin: 1em 18px;
  text-align: right;
}
#sidebar-first #block-user-login li {
  list-style: none;
}

/* ------------------- Main ------------------- */

#page-wrapper {
}
#main {
  box-shadow: -1px 0 1px rgba(0, 0, 0, 1), 1px 0 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  position: relative;
  z-index: 100;
}

/* -------- Featured/Highlighted/Help ---------- */

.region-highlighted .block h2,
.region-featured .block h2,
.region-help .block h2,
.sidebar .section .region .block h2 {
  font-size: 1.3em;
}

/* ----------------- Content ------------------ */

.node {
  border-bottom: 1px solid #ddd;
  margin-bottom: 5em;
}
.not-front .node {
	border-bottom: none;
}
.node .node-title,
.page-node #content h1#page-title,
.page-user #content h1#page-title {
  font-family: 'THK2DJuly8', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2em;
  font-weight: bold;
}
#content .node .node-title a {
  -moz-transition: color 0.5s ease 0s;
  -webkit-transition: color 0.5s ease 0s;
  -o-transition: color 0.5s ease 0s;
}
.node .meta,
.comment .submitted {
	color: #666;
  font-family: Helvetica;
  font-size: 0.9em;
}
.node .meta {
  margin: 0.75em 0 1.75em;
}
div.tabs {
  font-family: Trebuchet MS;
  font-size: 0.85em;
}
.content .content {
  font-family: 'THK2DJuly8', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  line-height: 180%;
}
.node .content .field h3.field-label {
  font-size: 1em;
  text-transform: uppercase;
}
.field-name-field-image {
  float: left;
  padding: 0 1.5em 0 0;
}
.field-name-field-image img {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  padding: 5px;
}
.field-name-body p img {
	background-color: #fff;
	border: 1px solid #ccc;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
	padding: 5px;
}
.content ul.menu,
.item-list ul {
	margin: 0.2em 0;
}
.content .field-name-body ul {
	padding: 0 0 0 1.3em; /*LTR*/
}
.column .region .block .content ul,
.content ul.menu {
	padding: 0;
}

ul li,
ul.menu li {
	margin: 0 0 0 1.3em; /*LTR*/
}
.field-type-taxonomy-term-reference {
  clear: both;
  font-family: Georgia;
}
.field-type-taxonomy-term-reference .field-label {
  display: inline;
}
.field-type-taxonomy-term-reference ul.links {
  display: inline;
}
.field-type-taxonomy-term-reference li {
  display: inline;
  list-style: none;
  margin: 0;
}

.node .link-wrapper {
	
}
.node .link-wrapper ul.links {
	display: block;
	margin: 1.5em 0;
}
.node .link-wrapper ul.links:after {
  content: ".";
  clear: right;
  display: block;
  height: 0;
  visibility: hidden;
}
.node .link-wrapper ul.inline li {
	margin: 0;
	padding: 0;
}
.node .link-wrapper ul.links li.node-readmore {
	float: right;
}
.node .link-wrapper ul.links li.comment-comments {
	margin-right: 1em;
}
.node .link-wrapper ul.links li.comment_forbidden {
	
}

#main .item-list {
	margin-bottom: 2em;
	margin-top: -3em;
}
#main .item-list .pager {
  font-family: Lucida Grande;
  text-transform: uppercase;
}
#main .item-list .pager li {
  margin: 0;
  padding: 0;
}
#main .item-list .pager li a,
#main .item-list .pager li.pager-current {
  border-radius: 0.3em;
  padding: 0.3em 0.95em 0.1em;
}
#main .item-list .pager li a:hover,
#main .item-list .pager li.pager-current {
  text-decoration: none;
}
#main .item-list .pager li.pager-current {
  font-weight: bold;
}

#comments {
	margin-top: 3em;
}
#comments .title {
	font-family: "Allerta Stencil", Lucida Grande;
	text-transform: uppercase;
}
#comments .comment {
	border: 1px solid #ddd;
	margin: 1em 0 1.5em;
	padding: 0.75em 1.5em;
	position: relative;
}
#comments .comment-by-author {
	border-color: #aaa;
}
#comments .comment .submitted {
	margin: 0;
}
#comments .user-info {
	position: relative;
}
#comments .user-info p {
	display: inline;
	margin: 0;
}
#comments .comment-permalink {
	position: absolute;
        top: 0;
        right: 0;
}
#comments ul.links {
	float: right;
	margin: 0;
}
#comments ul.links li {
	padding: 0;
}
#comments .comment-form {
	margin-top: 2em;
}
.filter-wrapper {
	border-color: #ddd;
	border-style: none solid solid;
	border-width: 1px;
}
.filter-wrapper .form-item label {
	padding-right: 0.25em;
}
.filter-guidelines {
	padding-left: 2.5em;
}

.social-sharing {
	margin: 2em 0 0;
}

/* ------------------ Footer ------------------ */

#footer {
  margin-top: 2.75em;
  text-align: center;
}


/* --------------- System Tabs  --------------- */

div.tabs {
  position: absolute;
  right: 2em;
  top: 2em;
}
ul.primary {
  border-bottom: none;
}
ul.primary li {
  margin: 0;
}
ul.primary li a {
  border-style: solid;
  color: #474747;
}
ul.primary li.active a {
  border-color: #ccc;
}
ul.primary li a:hover {
  border-color: #ccc;
}

/* ---------------- Messages  ----------------- */



/* -------------- User Profile   -------------- */



/* -------------- Password Meter  ------------- */



/* ---------------- Buttons    ---------------- */



/* -------------- Form Elements   ------------- */



/* Contact Form */



/* Disabled form elements */



/* Animated throbber */



/* Comment form */



/* Color scheme */


/* -------------- Other Overrides ------------- */



/* --------------- Search Form ---------------- */



/* --------------- Search Results ---------------- */



/* -------------- Shortcut Links -------------- */



/* ---------- Admin-specific Theming ---------- */

#update-manager-update-form div {
	margin-top: 1em;
}
table.system-status-report tr.ok {
	background-color: #dfd;
	color: #255b1e;
}
table.system-status-report tr.error {
	background-color: #fef5f1;
}
table.system-status-report tr {
	border-bottom: 1px solid #ccc;
}
.admin-panel h3 {
  font-weight: bold;
}
/* Dashboard */
#dashboard div#dashboard_main {
  width: 70%;
  margin-right: 2%; /*RTL*/
}
#dashboard div#dashboard_sidebar {
  width: 28%;
}
#dashboard .dashboard-add-other-blocks {
  margin: 10px 0;
}

/* Fix spacing when Seven is used in the overlay. */
#system-theme-settings fieldset {
  padding: 0;
}
#system-theme-settings fieldset .fieldset-legend {
  margin-top: 0;
}
/* Configuration. */



/* ---------- Overlay layout styles ----------- */

.overlay #main,
.overlay #content {
  width: auto;
  float: none;
}
.overlay #page {
  padding: 0 2em;
}
.overlay #skip-link,
.overlay .region-page-top,
.overlay #header,
.overlay #main-menu,
.overlay #secondary-menu,
.overlay #page-title,
.overlay #featured,
.overlay #sidebar-first,
.overlay #triptych-wrapper,
.overlay #footer-wrapper {
  display: none;
}
.overlay-processed .field-type-image {
  display: block;
  float: none;
}
.overlay #messages {
  width: auto;
}

/* ---------- Poll ----------- */


