@font-face {
    font-family: 'THK2DJuly8';
    src: url('th_k2d_july8_bold_italic-webfont.eot');
    src: url('th_k2d_july8_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('th_k2d_july8_bold_italic-webfont.woff') format('woff'),
         url('th_k2d_july8_bold_italic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'THK2DJuly8';
    src: url('th_k2d_july8_bold-webfont.eot');
    src: url('th_k2d_july8_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('th_k2d_july8_bold-webfont.woff') format('woff'),
         url('th_k2d_july8_bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'THK2DJuly8';
    src: url('th_k2d_july8_italic-webfont.eot');
    src: url('th_k2d_july8_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('th_k2d_july8_italic-webfont.woff') format('woff'),
         url('th_k2d_july8_italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'THK2DJuly8';
    src: url('th_k2d_july8-webfont.eot');
    src: url('th_k2d_july8-webfont.eot?#iefix') format('embedded-opentype'),
         url('th_k2d_july8-webfont.woff') format('woff'),
         url('th_k2d_july8-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



.th_k2d_july8{
   font-family: 'THK2DJuly8', sans-serif;
}